@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


:root {
  --a: 0;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
  color: white;
}

.left {
  width: 25vw;
  padding: 8px;
}

.right {
  width: 75vw;
  position: relative;
}

.home ul li {
  display: flex;
  gap: 15px;
  width: 14px;
  list-style: none;
  padding-top: 14px;
  font-weight: bold;
}

.heading {
  display: flex;
  gap: 15px;
  padding: 12px 14px;
  width: 100%;
  padding-top: 14px;
  font-weight: bold;
  align-items: center;
  font-size: 13px;
}

.heading img {
  width: 25px;
}

.library {
  min-height: 70vh;
  position: relative;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
  gap: 13px;
  position: absolute;
  bottom: 0;
  padding: 10px;
}

.footer a {
  color: grey;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(34, 34, 34);
  border-radius: 10px 10px 0 0;
}


.header>* {
  padding: 20px;
}

.right {
  margin: 14px 10px 16px 0;
}

.button :nth-child(2) {
  padding: 4px 14px;
  border: none;
  border-radius: 1rem;
  font-weight: 500;
}

.button :nth-child(1) {
  padding: 4px 8px;
  border: none;
  background: none;
  font-weight: 500;
  color: white;
}

.spotifyPlaylists {
  padding: 16px;
}


.cardContainer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin: 10px;
  overflow-y: auto;
  max-height: 64vh;
}

.card {
  width: 232px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(26, 26, 26);
  position: relative;
  transition: all .9s;
}

.card:hover {
  cursor: pointer;
  background-color: rgb(59, 59, 59);
  --a: 1;
}

.card>* {
  padding-top: 8px;
}

.card p {
  font-size: 11px;
}

.card img {
  width: 100%;
  object-fit: contain;
}

.play {
  width: 26px;
  height: 26px;
  background-color: #1fdf64;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 100px;
  right: 17px;
  opacity: var(--a);
  transition: all .2s ease-in-out;
}


.playbar {
  position: fixed;
  bottom: 40px;
  border-radius: 8px;
  background-color: rgb(36, 36, 36);
  width: 70vw;
  height: 75px;
  padding: 12px;
  right: 35px;
}

.songsButton {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.volume {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  scale: 0.80;
  cursor: pointer;
}


.timevol {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.songInfo {
  width: 300px;
  height: 50px;
  overflow: hidden;
}

.songslist {
  height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 5px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.close {
  display: none;
  cursor: pointer;
}

.hamburgerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.songslist ul {
  padding: 0 8px;
  font-size: 12px;
}

.songslist ul li {
  display: flex;
  list-style-type: decimal;
  gap: 10px;
  cursor: pointer;
  padding: 9px 4px;
  border: 1px solid white;
  margin: 12px 0;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  overflow: hidden;
}

.songslist .info {
  font-size: 13px;
  width: 234px;
  height: 69px;
  padding-top: 10px;
}

.info div {
  word-break: break-all;
}

.playNow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.playNow {
  font-size: 10px;
  width: 110px;
  padding: 12px;
}


.seekbar {
  height: 3px;
  width: 96%;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  bottom: 10px;
  margin: 6px;
  cursor: pointer;
}


.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  bottom: 5px;
  left: 0;
  transition: left 0.5s;
}

.songsButton img {
  cursor: pointer;
}

.abovebar {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;

}



@media (max-width: 1200px) {
  .left {
    position: absolute;
    background-color: black;
    left: -120%;
    transition: all .3s;
    z-index: 1;
    width: 100vw;
    padding: 0;
  }


  .container {
    width: 103vw;
  }

  .right {
    width: 100%;
  }

  .playbar {
    width: calc(88vw - 10px);
    font-size: 12px;
    right: 30px;
    height: 126px;
    bottom: 70px;
  }

  .seekbar {
    width: calc(84vw - 8px);
    bottom: 13px;
    height: 5px;
  }

  .circle {
    bottom: 4;
  }

  .range input {
    cursor: pointer;
  }

  .hamburger {
    display: block;
  }



  .close {
    display: block;
    position: absolute;
    right: 25px;
    top: 25px;
  }

  .abovebar {
    justify-content: center;
    gap: 5px;
    flex-direction: column;
    align-items: center;
  }

  .songsButton img {
    width: 18px;
  }


  .songtime {
    font-size: 12px;
    width: 120px;
  }

  .card {
    width: 36vw;
  }

  .nav {
    justify-content: center;
    align-items: center;
  }

  .cardContainer {
    margin: 0;
    margin-top: 10px;
    justify-content: center;
    max-height: 54vh;
  }

  .right {
    margin-top: 0;
  }

  .header {
    border-radius: 0;
  }

  .spotifyPlaylists h1 {
    padding: 2rem;
    height: 90vh;
  }

  .songInfo,
  .songtime {
    width: auto;

  }

  .songInfo {
    height: 18px;
  }

  .timevol {
    flex-direction: column;
  }

}


@media (max-width: 400px) {

  .card {
    width: 70vw;
  }

  .library {
    height: 82vh;
  }
}